<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">LsDigest</lang>
    </name>
    <author>
        <lang name="default">Web-studio stfalcon.com</lang>
    </author>
    <homepage>http://stfalcon.com</homepage>
    <version>0.3.0</version>
    <requires>
        <livestreet>0.5.0</livestreet>
        <plugins>
	        <plugin name="Mailing (большие рассылки)" version="0.3.1" condition=">=">mailing</plugin>
        </plugins>
    </requires>
    <description>
        <lang name="default">Receives the materials for a certain period, and with CRON creates a task for mailing</lang>
        <lang name="russian">Получает материалы за определенный период, и с помощью CRON создает задачу для рассылки</lang>
        <lang name="ukrainian">Отримує матеріали за певний період, і за допомогою CRON створює задачу для розсилки</lang>
    </description>
    <delegate>
        <module></module>
        <action></action>
        <template></template>
        <entity></entity>
    </delegate>
</plugin>